* {
    margin: 0;
    padding: 0;
}

body {
    background: brown;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-size: 2rem;
}

.head,
.section,
.article,
.footer {
    margin-top: 5rem;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1,
p,
label {
    color: white;
}

img {
    margin-left: 3rem;
}

label {
    float: left;
    margin-right: 3rem;
}

input {
    width: 200px;
    height: 25px;
    float: right;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}